/*SideNav CSS*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #696969;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: "Nunito Sans",sans-serif!important;
    color: #FFFFF0;
    display: block;
}

.sidenav a:hover {
    background:#708090;
}

.home {
    /*YOU WILL BASICALLY NEED THIS MARGIN-LEFT EVERYWHERE SO YOU DO NOT GET COVERED BY THE BAR*/
    margin-left: 160px; /* Same as the width of the sidenav */
    font-family: "Nunito Sans",sans-serif!important;
}